body {
  background-color: #000000;
  font-family: Arial, sans-serif;
}

.login-container {
  background-color: black;
  max-width: 400px;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nome_senha{
  color: #fff;
}

#titulo{
  margin-bottom:70px;
  width: 300px;
  margin-left: 50px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 10px;
}


input[type="submit"] {
  background-color: #584242;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 80px;
}

.registrar{
  background-color: #584242;
  background-color: ;
  margin-left: 70px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;

}

input[type="submit"]:hover {
  background-color: #d8804d;
}

