.cabecalho{
   background-color: black;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#titulo {
  width: 270px;
  margin-top: -5px;
  position: fixed;
  z-index: 2;
} 

#menu {
  width: 50px;
  position: fixed;
  z-index: 2;
  margin-left: 1250px;
  margin-top: 15px;
}

#imagem_demonstativa{
  margin-top: 13%;
  margin-left: 15%;
  border-radius: 10%;
  width: 1000px;
  position: center;
  z-index: 1;
}

#comecar{
  margin-top: 13%;
  margin-left: 40%;
  width: 300px;
  position: center;
  z-index: 1;
}
