.barra{
   background-color: black;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#titulo {
  width: 270px;
  margin-top: -5px;
  position: absolute;
  z-index: 2;
} 

#menu {
  width: 50px;
  position: absolute;
  z-index: 2;
  margin-left: 900px;
  margin-top: 15px;
}
