.cabecalho{
   background-color: black;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#titulo {
  width: 270px;
  margin-top: -5px;
  position: fixed;
  z-index: 2;
} 

#login {
  width: 50px;
  position: fixed;
  z-index: 2;
  margin-left: 1250px;
  margin-top: 20px;
}

#imagem_demonstativa{
  margin-top: 13%;
  margin-left: 15%;
  border-radius: 10%;
  width: 1000px;
  position: center;
  z-index: 1;
}

#comecar{
  margin-top: 13%;
  margin-left: 180%;
  width: 300px;
  height: 100px;
  position: center;
  z-index: 1;
  border-radius: 10px;
}

.animacao {
  position: relative;
  width: 300px;
  height: 300px;
}

.animacao img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.animacao img:hover {
  transform: scale(1.1);
}
