.cabecalho{
  background-color: black;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  position:absolute;
}

#titulo {
  width: 270px;
  margin-top: -5px;
  position: absolute;
  z-index: 2;
} 

#login {
  width: 50px;
  position: absolute;
  z-index: 2;
  margin-left: 1250px;
  margin-top: 20px;
}

.selecao{
 background-color: rgb(70, 70, 70);
 position: fixed;
 padding: 80px;
 padding-left: 500px;
 margin-left: 490px;
 border-radius: 10px;
}

#segunda{
  position: fixed;
  z-index: 2;
  margin-left: 600px;
  margin-top: 105px;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  background-color: orangered;
  color: white;
  }

#videos{
  margin-left: 500px;
  margin-top: 200px;
  display: none;
  position: fixed;
  z-index: 2;
}

