.cabecalho{
  background-color: black;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  position:absolute;
}

#titulo {
  width: 270px;
  margin-top: -5px;
  position: absolute;
  z-index: 2;
} 

#login {
  width: 50px;
  position: absolute;
  z-index: 2;
  margin-left: 1250px;
  margin-top: 20px;
}

.barra_preta{
 background-color: rgb(70, 70, 70);
 position: fixed;
 padding: 80px;
 padding-left: 500px;
 margin-left: 490px;
 border-radius: 10px;
}
.container {
  position: relative;
  margin-top: 120px; /* Ajuste a margem superior conforme necessário */
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100vh;
  z-index: 1;
}

.menu-icon {
  width: 30px;
  height: 30px;
  background-color: rgb(243, 5, 5);
  margin: 15px;
  cursor: pointer;
}

.menu-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  top: 0;
  left: 70px;
  background-color: rgb(70, 70, 70);
}

.menu-links li {
  padding: 10px;
  color: rgb(231, 54, 0);
}

.menu.active .menu-links {
  display: block;
}
